<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.napp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="23" />

    <application
        android:label="Native App"
        android:name="org.napp.NativeApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hasCode="true">

        <meta-data android:name="android.max_aspect" android:value="2.4" />

        <activity
            android:name="org.napp.NativeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <meta-data android:name="android.app.lib_name"
                android:value="napp" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.napp.NativeService" android:process=":native_service" />
    </application>
</manifest>
